<div class="col-lg-9 col-md-8 pt-2">
  <div class="body-card">
    <div class="row">
      <% films.forEach(function(film, index) { %>
        <div class="bodycard col-lg-4 col-md-4 mb-4" genere="<%= film.Genere %>" anno="<%= film.Anno %>">
          <a href="/paginafilm/<%= film.IDFilm %>">
            <div class="card">
              <img src="/img/<%= film.Copertina %>.png" class="Copertina" title="<%= film.Titolo %>">
              <div class="card-body">
                <h5 class="Titolo" title="Titolo">
                  <%= film.Titolo %>
                </h5>
                <p><strong class="Genere" title="Genere">Genere:</strong>
                  <%= film.Genere %>
                </p>
                <p><strong class="Anno" title="Anno">Anno:</strong>
                  <%= film.Anno %>
                </p>
                <p><strong class="Regista" title="Regista">Regista:</strong>
                  <%= film.Regista %>
                </p>

                <div class="justify-content-between">
                  <form method="POST" action="/homepage/carrello/aggiungi/<%= film.IDFilm %>">
                    <button type="submit" class="btn-custom-carrello">
                      <a title="Aggiungi al carrello" class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                          class="carrello-icon" viewBox="0 0 16 16">
                          <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                      </a>
                    </button>
                  </form>

                  <form method="POST" action="/homepage/preferiti/aggiungi/<%= film.IDFilm %>">
                    <button type="submit" class="btn-custom-preferiti">
                      <a title="Aggiungi ai preferiti" class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                          class="preferiti-icon" viewBox="0 0 16 16">
                          <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                        </svg>
                      </a>
                    </button>
                  </form>

                  <% if (user && user.admin==1) { %>
                    <form method="POST" action="/homepage/cancella/<%= film.IDFilm %>">
                      <button type="submit" class="btn-custom-elimina">
                        <a title="Rimuovi Film" class="text-center">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                          </svg>
                        </a>
                      </button>
                    </form>
                    <% } %>
                </div>
              </div>

            </div>
          </a>
        </div>
        <% }) %>
    </div>
  </div>
</div>